<p id="notice"><%= notice %></p>


<br>
<div class= container>
  <table class="table bg-danger">
    <thead>
      <tr>
        <th scoope="col"> origin :<th>

        <th scope="col">Profile_pic:</th>
        <th scope="col">Author:</th>
        <th scope="col">Content:</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% if @tweet.user_id  !=  @tweet.origin %>
          <th><%= @tweet.origin %><th>
        <% else %>
          <th> "original" <th>
        <% end %>
        <th> <img src="<%= @tweet.user.profile_photo %>" width="80" height="80" class="round-circle mb-3" ></th>
        <th> <%= @tweet.user %> </th>
        <th> <%= @tweet.content %> </th>
      </tr>
    </tbody>
  </table>
  <div class= container>
    <%= link_to like_tweet_path(@tweet), method: :put do %>
      <i class="fas fa-thumbs-up fa-x"></i>
      <%= @tweet.get_upvotes.size %>
    <% end %>

    <%= link_to dislike_tweet_path(@tweet), method: :put do %>
      <i class="fas fa-thumbs-down fa-x"></i>
      <%= @tweet.get_downvotes.size %>
    <% end %>

    <%= link_to   tweet_retweet_path(@tweet), method: :post do  %>
      <i class="fas fa-retweet"></i>
      <%= @tweet.share%>
    <% end %>
  </div>

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Like Details
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <button class="dropdown-item" type="button">
        <% @tweet.get_upvotes.voters.each do |voter| %>
          <%= voter.username %>  

        <% end%>    
      </button>
    </div>
  </div>

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      DisLike Details
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <button class="dropdown-item" type="button">
        <% @tweet.get_downvotes.voters.each do |voter| %>
          <%= voter.username %>  

        <% end%>    
      </button>
    </div>
  </div>
  <br>
  <%= link_to 'Edit', edit_tweet_path(@tweet) %> |
  <%= link_to 'Back', tweets_path %>
</div>


